#drop-area {
    border: 2px dashed #ccc;
    border-radius:5px;
    width: 100%;
    padding: 20px
  }
#drop-area.highlight {
    border-color: rgb(32, 43, 184);
}

#progress-bar { 
    width: 100%;
    display: none;
}
#fileElem {
    display: none;
}

#selectFile{
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: beige;
}

#sPin,#sPin1{
    position: absolute;
    top: 50%;
    display: none;
    left: 45%;
 }

 #toBeUpdatedFiles{
    
 }

 .tagtag{
     cursor: pointer;
     padding: 7px;
 }
 .tagtag:hover:before{
    content: "REMOVE ";
    color: red;
 }

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}